
process {

        executor = "slurm"

        withLabel: 'fastqc' {
                memory = "1GB"
                time = "40m"
                clusterOptions = '--account=aafc_aac --output=fastqc.out --cpus-per-task=2 --mail-type=END --mail-user=mohamad.elian@agr.gc.ca,mohamadelian1996@gmail.com --job-name=fastqc'

        }

        withLabel: 'trimmomatic' {
                memory = "8GB"
                time = "1h"
                clusterOptions = '--account=aafc_aac --output=trim.out --cpus-per-task=8 --mail-type=END --mail-user=mohamad.elian@agr.gc.ca,mohamadelian1996@gmail.com --job-name=trim'

        }

	withLabel: 'bwa' {
		memory = "16GB"
		time = "8h"
		clusterOptions = '--account=aafc_aac --output=star.out --cpus-per-task=8 --mail-type=END --mail-user=mohamad.elian@agr.gc.ca,mohamadelian1996@gmail.com --job-name=align'

	}
	
	withLabel: 'samtools' {

		memory = "1GB"
                time = "20m"
                clusterOptions = '--account=aafc_aac --output=samtools.out --cpus-per-task=2 --mail-type=END --mail-user=mohamad.elian@agr.gc.ca,mohamadelian1996@gmail.com --job-name=samtools'

	}

	withLabel: 'markdup' {
		memory = "32GB"
		time = "2h"
		clusterOptions = '--account=aafc_aac --output=markdup.out --cpus-per-task=4 --mail-type=END --mail-user=mohamad.elian@agr.gc.ca,mohamadelian1996@gmail.com --job-name=markdup'
	}

	withLabel: 'bqsr' {
		memory = "32GB"
		time = "2h"
		clusterOptions = '--account=aafc_aac --output=bqsr.out --cpus-per-task=4 --mail-type=END --mail-user=mohamad.elian@agr.gc.ca,mohamadelian1996@gmail.com --job-name=bqsr'
	}

	withLabel: 'gvcf' {
		memory = "15GB"
		time = "8h"
		clusterOptions = '--account=aafc_aac --output=gvcf.out --cpus-per-task=2 --mail-type=END --mail-user=mohamad.elian@agr.gc.ca,mohamadelian1996@gmail.com --job-name=gvcf'
	}

	withLabel: 'gvcf_merge' {
		memory = "45GB"
		time = "8h"
		clusterOptions = '--account=aafc_aac --output=merged.out --cpus-per-task=8 --mail-type=END --mail-user=mohamad.elian@agr.gc.ca,mohamadelian1996@gmail.com --job-name=merged'
	}

	withLabel: 'multiqc' {
                memory = "4GB"
                time = "20m"
                clusterOptions = '--account=aafc_aac --output=multiqc.out --cpus-per-task=2 --mail-type=END --mail-user=mohamad.elian@agr.gc.ca,mohamadelian1996@gmail.com --job-name=multiqc'

        }

}
