import groovy.yaml.YamlSlurper

def yamlSlurper = new YamlSlurper()
def configFile = new File("${launchDir}/param_files/main.yaml")
def mainyaml = yamlSlurper.parse(configFile)

params.main = mainyaml.main
params.slurm = mainyaml.slurm
params.apptainer = mainyaml.apptainer
singularity.enabled = params.main.apptainer

includeConfig "subworkflows/alignment/alignment.config"
includeConfig "subworkflows/variant_calling/variant_calling.config"

def image(name) {
	(params.main.apptainer && params.apptainer[name]) ? "${params.apptainer.path}/${params.apptainer[name]}" : null
}

profiles {


	local {
		process {
			executor = 'local'
		}
	}

	slurm {
		process {
			executor = 'slurm'
		}
	}

}
