import groovy.yaml.YamlSlurper

def yamlSlurper = new YamlSlurper()
def configFile = new File("${launchDir}/param_files/alignment.yaml")
def alignyaml = yamlSlurper.parse(configFile)

params.alignment.settings = alignyaml.settings
params.alignment.bwa = alignyaml.bwa.index
params.alignment.bqsr = alignyaml.bqsr.ref_vcf

profiles {
    slurm {
        process {
            withLabel: 'fastqc' {
				container = image("fastqc")
				memory = alignyaml.fastqc.resources.slurm.memory
				time = alignyaml.fastqc.resources.slurm.time
				cpus = alignyaml.fastqc.resources.slurm.cpus
				clusterOptions = "--account=${params.slurm.account} --output=fastqc.out --mail-type=END --mail-user=${params.slurm.email} --job-name=fastqc"	
			}

            withLabel: 'trim_galore' {
				container = image("trim_galore")
				memory = alignyaml.trim_galore.resources.slurm.memory
				time = alignyaml.trim_galore.resources.slurm.time
				cpus = alignyaml.trim_galore.resources.slurm.cpus
				clusterOptions = "--account=${params.slurm.account} --output=trim.out --mail-type=END --mail-user=${params.slurm.email} --job-name=trim"	
			}

            withLabel: 'bwa' {
				container = image("bwa")
				memory = alignyaml.bwa.resources.slurm.memory
				time = alignyaml.bwa.resources.slurm.time
				cpus = alignyaml.bwa.resources.slurm.cpus
				clusterOptions = "--account=${params.slurm.account} --output=bwa.out --mail-type=END --mail-user=${params.slurm.email} --job-name=bwa"	
			}

            withLabel: 'markdup' {
				container = image("markdup")
				memory = alignyaml.markdup.resources.slurm.memory
				time = alignyaml.markdup.resources.slurm.time
				cpus = alignyaml.markdup.resources.slurm.cpus
				clusterOptions = "--account=${params.slurm.account} --output=markdup.out --mail-type=END --mail-user=${params.slurm.email} --job-name=markdup"	
			}

            withLabel: 'bqsr' {
				container = image("bqsr")
				memory = alignyaml.bqsr.resources.slurm.memory
				time = alignyaml.bqsr.resources.slurm.time
				cpus = alignyaml.bqsr.resources.slurm.cpus
				clusterOptions = "--account=${params.slurm.account} --output=bqsr.out --mail-type=END --mail-user=${params.slurm.email} --job-name=BQSR"	
			}
        }
    }

    local {
        process {
            withLabel: 'fastqc' {
				container = image("fastqc")
				memory = alignyaml.fastqc.resources.local.memory
				time = alignyaml.fastqc.resources.local.time
				cpus = alignyaml.fastqc.resources.local.cpus
			}

            withLabel: 'trim_galore' {
				container = image("trim_galore")
				memory = alignyaml.trim_galore.resources.local.memory
				time = alignyaml.trim_galore.resources.local.time
				cpus = alignyaml.trim_galore.resources.local.cpus
			}

            withLabel: 'bwa' {
				container = image("bwa")
				memory = alignyaml.bwa.resources.local.memory
				time = alignyaml.bwa.resources.local.time
				cpus = alignyaml.bwa.resources.local.cpus
			}

            withLabel: 'markdup' {
				container = image("markdup")
				memory = alignyaml.markdup.resources.local.memory
				time = alignyaml.markdup.resources.local.time
				cpus = alignyaml.markdup.resources.local.cpus
			}

            withLabel: 'bqsr' {
				container = image("bqsr")
				memory = alignyaml.bqsr.resources.local.memory
				time = alignyaml.bqsr.resources.local.time
				cpus = alignyaml.bqsr.resources.local.cpus
			}
        }   
    }
}