import groovy.yaml.YamlSlurper

def yamlSlurper = new YamlSlurper()
def configFile = new File("${launchDir}/param_files/variant_calling.yaml")
def vcyaml = yamlSlurper.parse(configFile)

profiles {
    slurm {
        process {
            withLabel: 'gvcf' {
				container = image("gvcf")
				memory = vcyaml.gvcf.resources.slurm.memory
				time = vcyaml.gvcf.resources.slurm.time
				cpus = vcyaml.gvcf.resources.slurm.cpus
				clusterOptions = "--account=${params.slurm.account} --output=gvcf.out --mail-type=END --mail-user=${params.slurm.email} --job-name=gVCF"	
			}

			withLabel: 'gvcf_merge' {
				container = image("gvcf_merge")
				memory = vcyaml.gvcf_merge.resources.slurm.memory
				time = vcyaml.gvcf_merge.resources.slurm.time
				cpus = vcyaml.gvcf_merge.resources.slurm.cpus
				clusterOptions = "--account=${params.slurm.account} --output=gvcf_merge.out --mail-type=END --mail-user=${params.slurm.email} --job-name=gVCF_merge"	
			}

        }
    }

    local {
        process {
            withLabel: 'gvcf' {
				container = image("gvcf")
				memory = vcyaml.gvcf.resources.local.memory
				time = vcyaml.gvcf.resources.local.time
				cpus = vcyaml.gvcf.resources.local.cpus
			}

			withLabel: 'gvcf_merge' {
				container = image("gvcf_merge")
				memory = vcyaml.gvcf_merge.resources.local.memory
				time = vcyaml.gvcf_merge.resources.local.time
				cpus = vcyaml.gvcf_merge.resources.local.cpus
			}

        }
    }
}